// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
$toolbar-bg-color: #f8f8f8;

.profile-info {
    min-height: 150px;
    background-image: url('../assets/img/material-graphite.jpg');
    background-size: 120%;
    background-position: 0%;
    transition: all .5s ease-in-out;
    .avatar {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: translateZ(0) rotate(0) scale(1)!important;
        transform: translateZ(0) rotate(0) scale(1)!important;
        -webkit-transition: all .3s ease-out !important;
        transition: all .3s ease-out !important;
        top: 24px;
        left: 16px;
        height: 65px;
        width: 65px
    }
}
.avatar {
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    display: inline-block;
    height: 56px;
    left: 16px;
    position: absolute;
    width: 56px
}
.profile-name {
    bottom: 32px;
    left: 16px;
    right: 16px;
    position: absolute;
    color: white;
    font-size: 16px;
}
.profile-role{
    bottom: 12px;
    left: 16px;
    right: 16px;
    position: absolute;
    color: rgb(198, 198, 198);
    font-size: 12px;
}
.spin {
    -webkit-backface-visibility: hidden !important;
    backface-visibility: hidden !important;
    -webkit-transform: translateZ(0) rotate(0) scale(0)!important;
    transform: translateZ(0) rotate(0) scale(0)!important;
    -webkit-transition: all .3s ease-out !important;
    transition: all .3s ease-out !important
}
.fade {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-backface-visibility: hidden !important;
    backface-visibility: hidden !important;
    -webkit-transition: all .1s ease-out !important;
    transition: all .1s ease-out !important
}
.motion {
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out
}
.toolbar-background-md {
    background: $toolbar-bg-color !important;
}
.ion-app.md{
    font-size: 16pt;
}
.menu-inner{
    width: 270px !important;
}